<div class="site-section bg-dark">
    <div class="container center">
        <div class="row">
            <div class="widget-next-match">
                <div>
                    <!-- <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"> -->
                </div>
                <img style="width: 200px" [src]="player.pic"/>
                <h3>Name : {{player.name}}</h3>
                <h3>Date Of Birth : {{player.dateOfBirth}}</h3>
                <h3>Height : {{player.height}}</h3>
                <h3>Weight : {{player.weight}}</h3>
                <h3>Current Team : {{player.team}}</h3>
                <h3>Position : {{player.position}}</h3>
                <h3>Date To Join : {{player.dateToJoin}}</h3>
                <h3>About him :</h3> {{player.about}}
            </div>
        </div>
    </div>
</div>