<div class="row">
    <div class="col-lg-6">
        <div class="custom-media d-flex">
            <div class="img mr-4">
                <img [src]="data.pic"/>
            </div>
            <div class="text">
                <span class="meta">{{data.date}}</span>
                <h3 class="mb-4">{{data.name}}</h3>
                <h3 class="mb-4">{{data.team}}</h3>
                <p>{{data.position}}</p>
                <button type="submit" class="btn btn-success" (click)='goToPlayer(data.id)'>Display Player</button> <br>
                <button type="submit" class="btn btn-danger" (click)='deletePlayer(data.id)'>Delete Player</button>
                <p><a href="displayPlayer/{{data.id}}">Read more</a></p>
            </div>
        </div>
    </div>